.c-filter {
  position: relative;

  &__toggle {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    border: 0;
    padding: .5rem 1rem;
    border-radius: 4px;

    &:after {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      margin-left: 10px;
      position: relative;
      background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' data-prefix='fas' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='currentColor' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__ul {
    padding: 0;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05);
    position: absolute;
    display: none;
    margin: 0;
    background-color: #f4f5f7;
    z-index: 1;

    &--active {
      display: block;
    }

  }

  &__item {
    list-style: none;
    display: block;

    input {
      display: none;
    }

    input:checked ~ label {

      &:before {
        background-color: green;
        border-color: lighten(green, 10%);
        background-image: url("data:image/svg+xml,%3Csvg fill='rgb(255,255,255)' aria-hidden='true' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
        background-size: 65%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }

    label {
      display: block;
      padding: 5px;
      cursor: pointer;
      padding: 8px 8px 8px 35px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 15px;
        height: 15px;
        border-radius: 4px;
        border: 1px solid rgb(230, 230, 230);
      }

      &:hover {
        background-color: #ddd;

        &:before {
          border: 1px solid rgb(200, 200, 200);
        }
      }
    }
  }
}
